@using PressDistributionSystemWebApp.DTO
@model DistributorInsertDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Distributor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistributorUserId" class="control-label">Distributor</label>
                @Html.DropDownListFor(m => m.DistributorUserId, Model.Users, "Select Distributor", new { @class = "form-control custom-dropdown" })
                <br />
                <span asp-validation-for="DistributorUserId" class="text-danger"></span>
            </div>
            <br />
            <div class="btn-group" role="group" aria-label="Form buttons">
                <a class="btn btn-secondary" asp-action="Index">Back</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
