@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-fluid">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>This is a web app that facilitates the distribution and return of press products.</h3>
        <p>To achieve this:<br /> 
            - There are two user roles (agency, distributor)<br />
            - The AGENCY can log-in and make CRUD actions in three components: Publications, Distributors and Kiosks. 
               It can also link a kiosk to one distributor. <br />
            - The DISTRIBUTOR can log-in and create a distribution for a given publication as well as make an entry of the returns (the unsold publications).
        </p>
    </div>
    <div>
        <img href="" />
    </div>

</div>


