@model PressDistributionSystemWebApp.DTO.PublicationUpdateDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipmentDate" class="control-label"></label>
                <input type="date" asp-for="ShipmentDate" class="form-control" />
                <span asp-validation-for="ShipmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input type="date" asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue" class="control-label"></label>
                <input asp-for="Issue" class="form-control" />
                <span asp-validation-for="Issue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <br />
            <div class="btn-group" role="group" aria-label="Form buttons">
                <a class="btn btn-secondary" asp-action="Index">Back</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
